<nav class="nav">
    <ul class="nav__list container">
        <li class="nav__item nav__item--current">
            <a href="{{ path('lot_category') }}">Доски и лыжи</a>
        </li>
        <li class="nav__item">
            <a href="{{ path('lot_category') }}">Крепления</a>
        </li>
        <li class="nav__item">
            <a href="{{ path('lot_category') }}">Ботинки</a>
        </li>
        <li class="nav__item">
            <a href="{{ path('lot_category') }}">Одежда</a>
        </li>
        <li class="nav__item">
            <a href="{{ path('lot_category') }}">Инструменты</a>
        </li>
        <li class="nav__item">
            <a href="{{ path('lot_category') }}">Разное</a>
        </li>
    </ul>
</nav>