{% extends "@FOSUser/layout.html.twig" %}

{% form_theme form _self %}

{%- block form_row -%}
    <div class="form__item">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        <span class="form__error">{{- form_errors(form) -}}</span>
    </div>
{%- endblock form_row -%}

{% block fos_user_content %}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form container'}}) }}
        <h2>Регистрация нового аккаунта</h2>
        {{ form_widget(form) }}
        <button type="submit" class="button">Зарегистрироваться</button>
        <a class="text-link" href="{{ path('fos_user_security_login') }}">Уже есть аккаунт</a>
    {{ form_end(form) }}
{% endblock fos_user_content %}
